.constructor {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.constructor_item {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.ingredients__price {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 40px;
}

.price__btn {
  margin-left: 48px;
}

.price__text {
  margin-right: 10px;
}
